@using BHASCore.Data.Business.Entities
@model List<Department>

<h2>Lista odjela</h2>

<table class="table table-responsive table-bordered table-hover table-striped">
    <thead class="table-danger">
        <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Sifra</th>
            <th>Budzet</th>
            <th></th>
        </tr>
    </thead>
            
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.DepartmentID</td>
                <td>@department.DepartmentName</td>
                <td>@department.DepartmentCode</td>
                <td>@(department.Budget.HasValue ? $"{department.Budget.Value:N2} KM" : "N/A")</td>
                <td style="text-align: center;">
                    <input type="button" class="btn btn-info" 
                                onclick="ispisiZaposlene(@department.DepartmentID)" 
                                value="Zaposlenici - AJAX"/>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="employeePanel">
    <p>Ovdje ce se izlistati zaposlenici</p>

</div>

@section Scripts{
    <script>
        function ispisiZaposlene(departmentId)
        {
            console.log('ja sam metoda -ispisiZaposlene-, dptID: '+departmentId)
            //alert(departmentId);
            var apiEndpoint = '/api/employees/by-department/'+departmentId;
            //
            $.getJSON(apiEndpoint)
                .done(function(employees){
                    // ovdje cemo obraditit rezultate

                })
                .fail(function(msg){
                    alert('Ne valja!');
                });
        }

    </script>

}