@using BHASCore.Data.Business.Entities
@model List<Department>

<h2>Lista odjela</h2>

<table class="table table-responsive table-bordered table-hover table-striped">
    <thead class="table-danger">
        <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Sifra</th>
            <th>Budzet</th>
            <th></th>
        </tr>
    </thead>
            
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.DepartmentID</td>
                <td>@department.DepartmentName</td>
                <td>@department.DepartmentCode</td>
                <td>@(department.Budget.HasValue ? $"{department.Budget.Value:N2} KM" : "N/A")</td>
                <td style="text-align: center;">
                    <input type="button" class="btn btn-info"
                           onclick="ispisiZaposlene(@department.DepartmentID)"
                           value="Zaposlenici - AJAX" />
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="employeePanel" style="display:none;">
    <p>Ovdje ce se izlistati zaposlenici</p>
    <table class="table-response table table-striped table-bordered table-hover">
        <thead class="table-info">
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Pozicija</th>
                <th>Plata</th>
                <th>JMBG</th>
                <th>Email</th>
            </tr>

        </thead>
        <tbody id="employeeList">
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        function ispisiZaposlene(departmentId)
        {
            $("#employeePanel").hide();

            var apiEndpoint = '/api/employees/by-department/'+departmentId;
            //
            var employeeHtml = "";
            //
            $.getJSON(apiEndpoint)
                .done(function(employees){
                    // ovdje cemo obraditit rezultate
                    $.each(employees, function(index, item) {
                         employeeHtml +=
                            `<tr>
                                <td>${item.firstName}</td>
                                <td>${item.lastName}</td>
                                <td>${item.position}</td>
                                <td>${item.salary}</td>
                                <td>${item.jmbg}</td>
                                <td>${item.email}</td>
                            </tr>`;
                    });

                    $("#employeeList").html(employeeHtml);
                    $("#employeePanel").show("slow");
                })
                .fail(function(msg){
                    alert('Ne valja!');
                });
        }
    </script>
}